h2 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 40px 0;
}

/* Exercise 1 */

.exercise-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.column,
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 100px;
  flex-grow: 2;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: yellow;
}

/*  Exercise 2 */

.exercise-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 400px;
  height: 80%;
  margin: 0 auto;
}

.exercise-2 .square {
  width: 20px;
  height: 20px;
  background-color: orangered;
}


.exercise-2 .square:nth-child(3n-1) {
  background-color: orange;
}

.exercise-2 .square:nth-child(3n) {
  background-color: brown;
}

/* Exercise 3 */

.exercise-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 400px;
  height: 80%;
  margin: 0 auto;
}

.exercise-3 .square {
  width: 20px;
  height: 20px;
  background-color: white;
}

.exercise-3 .square:nth-child(2n) {
  background-color: lightgray;
}

.exercise-3 .square:nth-child(4n - 1) {
  background-color: darkgray;
}

.exercise-3 .square:nth-child(4n) {
  background-color: black;
}

/* Exercise 4 */

.exercise-4 {
  width: fit-content;
  margin: 0 auto;
  padding: 100px 0;
  border: 1px solid black;
  padding: 0;
}

.exercise-4 .line-odd,
.exercise-4 .line-even {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-4 .square {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
}

.line-odd .square:nth-child(2n) {
  background-color: lightcoral;
}

.line-even .square {
  background-color: lightcoral;
}

.line-even .square:nth-child(2n) {
  background-color: red;
}