section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.column,
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0 100px;
  flex-grow: 2;
}

.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: yellow;
}