body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: black;
}

@media (min-width: 320px) {
  .main-header {
    background-color: yellow;
    color: black;
  }
}

@media (min-width: 600px) {
  .main-header {
    background-color: lightgreen;
    color: black;
  }
}

@media (min-width: 768px) {
  .main-header {
    background-color: red;
    color: white;
  }
}

@media (min-width: 992px) {
  .main-header {
    background-color: black;
    color: white;
  }
}

.navbar {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.site-list {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.site-list li {
  display: inline-block;
}

.site-link {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: inherit;
}

.logo-letter-last {
  position: relative;
  right: 11px;
  display: inline-block;
  transform: rotate(180deg);
}

.logo {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.hero-section {
  position: relative;
  box-sizing: border-box;
  padding: 50px 30px;
  padding-top: 205px;
  background-image: url("img/thor.jpg");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center -150px;
}

.wrapper {
  width: 85%;
  height: auto;
}

h1 {
  margin: 55px 0;
  margin-bottom: 35px;
  font-size: 5.5rem;
  color: black;
}

@media (min-width: 600px) {
  h1 {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

h1 + p {
  margin: 0;
  color: black;
}

@media (min-width: 768px) {
  
  h1 {
    display: inline-block;
    width: 30%;
    margin: 0;
  }

  h1 + p {
    display: inline-block;
    width: 50%;
    margin-left: auto;
  }
}