body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: black;
}

.navbar {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.site-list {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.site-list li {
  display: inline-block;
}

.site-link {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
}

.logo {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.hero-section {
  position: relative;
  padding: 0 30px;
  padding-top: 205px;
  background-image: url("img/thor.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center -150px;
}

.wrapper {
  width: 85%;
}

h1 {
  margin: 55px 0;
  margin-bottom: 35px;
  font-size: 5.5rem;
  color: black;
}

h1 + p {
  margin: 0;
  color: black;
}