.form, body {
  padding: 0;
  margin: 0;
}

.form-name {
  margin: 0;
  padding: 10px 10px;
}

.user-info-fieldset, .destination-fieldset, .restrictions-fieldset, .result {
  width: 500px;
  margin: 20px;
}

.result {
  border: 1px solid black;
  padding: 15px;
}

.gender-selection {
  margin: 10px 0 0;
}

.send-button {
  margin: 20px;
}